<!DOCTYPE html>
<html lang="en">
    <head>
        <title>[Python Flask]</title>
    </head>
    <body>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="table">
                <td>훈련 데이터</td>
                <td><input type="file" value="파일 선택" name="train_file"></td>
                <td><input type="submit" value="업로드"/></td>
                {% if filename1 == 'train.csv' %}
                    <p>{{ filename1 }}업로드 완료</p>
                {% endif %}
            </div>
            <div class="table">
                <td>테스트 데이터</td>
                <td><input type="file" value="파일 선택" name="test_file"></td>
                <td><input type="submit" value="업로드"/></td>
                {% if filename2 == 'test.csv' %}
                    <p>{{ filename2 }}업로드 완료</p>
                {% endif %}
            </div>
            <div class="table">
                <table>
                    <tr>
                        <td>임베딩 방식</td>
                        <td><input type=checkbox name="checked_list" value="One-Hot" onclick="confirm_checked(this)" style="width:50px; height:16px;">One-Hot</td>
                        <td><input type=checkbox name="checked_list" value="TF-IDF" onclick="confirm_checked(this)" style="width:50px; height:16px;">TF-IDF</td>
                        <td><input type=checkbox name="checked_list" value="Doc2Vec" onclick="confirm_checked(this)" style="width:56px; height:16px;">Doc2Vec</td>
                        <td><input type=checkbox name="checked_list" value="user_defined_embedding" onclick="confirm_checked(this)" style="width:56px; height:16px;">사용자 정의</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>기계학습 방식</td>
                        <td><input type=checkbox name="checked_list" value="Logistic" onclick="confirm_checked(this)" style="width:50px; height:16px;;">Logistic</td>
                        <td><input type=checkbox name="checked_list" value="SVC" onclick="confirm_checked(this)" style="width:50px; height:16px;">SVC</td>
                        <td><input type=checkbox name="checked_list" value="RandomForest" onclick="confirm_checked(this)" style="width:56px; height:16px;">RandomForest</td>
                        <td><input type=checkbox name="checked_list" value="FNN" onclick="confirm_checked(this)" style="width:56px; height:16px;">FNN</td>
                        <td><input type=checkbox name="checked_list" value="user_defined_machine_learning" onclick="confirm_checked(this)" style="width:56px; height:16px;">사용자 정의</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>차원 축소 방식</td>
                        <td><input type=checkbox name="checked_list" value="PCA" onclick="confirm_checked(this)" style="width:50px; height:16px;">PCA</td>
                        <td><input type=checkbox name="checked_list" value="MDS" onclick="confirm_checked(this)" style="width:50px; height:16px;">MDS</td>
                        <td><input type=checkbox name="checked_list" value="TSNE" onclick="confirm_checked(this)" style="width:56px; height:16px;">TSNE</td>
                        <td><input type=checkbox name="checked_list" value="user_defined_dimension_reduction" onclick="confirm_checked(this)" style="width:56px; height:16px;">사용자 정의</td>
                    </tr>
                </table>
            </div>
            <input type="submit" value="시각화" name="visual_button" onclick="get_check_list()" />
        </form>
        <script>
            var checked_list = new Array;

            function confirm_checked(box) {
                    if (box.checked == true)
                        checked_list.push(box.value);
                        console.log(box.value);
            }

            var button = document.querySelector("input")
            button.addEventListener("click", get_check_list);

            function get_check_list() {
                console.log(checked_list);
                return checked_list;
            }
        </script>
    </body>
</html>