<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        데이터 시각화
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://d3js.org/d3.v4.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul class="nav">
                <li class="active ">
                    <a href="./">
                        <i class="tim-icons icon-notes"></i>
                            <p>Introduction</p>
                    </a>
                </li>
                <li>
                    <a href="./fileUpload">
                        <i class="tim-icons icon-cloud-upload-94"></i>
                            <p>File Upload</p>
                    </a>
                </li>
                <li>
                    <a href="./machineLearning">
                        <i class="tim-icons icon-spaceship"></i>
                            <p>Machine Learning</p>
                    </a>
                </li>
                <li>
                    <a href="./visualization">
                        <i class="tim-icons icon-molecule-40"></i>
                            <p>Data Visualization</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="row1">
                    <div class="col-12">
                        <div class="card card-chart">
                            <div class="card-header ">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <h4 class="card-category" style="font-size:14px">Daumsoft AI LAB</h4>
                                        <h2 class="card-title">Introduction</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3>데이터 시각화</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>