<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        데이터 시각화
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        row2 {
            position: relative;
        }
        .column {
            float: left;
            width: 15%;
            height: 40px;
            padding: 10px;
            text-align: center;
            font-size: 13px;
            cursor: pointer;
            color: white;
        }
        .containerTab {
            width: 75%;
            text-align: center;
            padding: 10px;
            color: white;
        }
        input[type=text], select {
            height: 50px;
            width: 100px;
            position: relative;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type=submit] {
            height: 50px;
            width: 100px;
            position: relative;
            background-color: #800080;
            color: white;
            padding: 14px 20px;
            margin: 15px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #800080;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul class="nav">
                <li>
                    <a href="./">
                        <i class="tim-icons icon-notes"></i>
                            <p>Introduction</p>
                    </a>
                </li>
                <li>
                    <a href="./fileUpload">
                        <i class="tim-icons icon-cloud-upload-94"></i>
                            <p>File Upload</p>
                    </a>
                </li>
                <li class="active ">
                    <a href="./machineLearning">
                        <i class="tim-icons icon-spaceship"></i>
                            <p>Machine Learning</p>
                    </a>
                </li>
                <li>
                    <a href="./visualization">
                        <i class="tim-icons icon-molecule-40"></i>
                            <p>Data Visualization</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="row1">
                    <div class="col-12">
                        <div class="card card-chart">
                            <div class="card-header ">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <h4 class="card-category" style="font-size:14px">Daumsoft AI LAB</h4>
                                        <h2 class="card-title">Machine Learning</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row2">
                    <div class="col-12">
                        <form action="./machineLearning" method="POST" enctype="multipart/form-data">
                            <div class="align-self-sm-auto">
                                <div id="radio_group1">
                                    <p style="color: white; font-size: 14pt">임베딩 방식(필수)</p><br>
                                    <input type=radio name="radio_group1" value="CounterVector" onclick="confirm_radio_group1(this)" style="width:50px; height:16px;">CounterVector
                                    <input type=radio name="radio_group1" value="TF-IDF" onclick="confirm_radio_group1(this)" style="width:50px; height:16px;">TF-IDF
                                    <input type=radio name="radio_group1" value="Doc2Vec" onclick="confirm_radio_group1(this)" style="width:56px; height:16px;">Doc2Vec
                                    <input type=radio name="radio_group1" value="user_defined_embedding" onclick="confirm_radio_group1(this)" style="width:56px; height:16px;">사용자 정의
                                </div>
                            </div><br>
                            <div class="align-self-sm-auto">
                                <div id="radio_group2">
                                    <p style="color: white; font-size: 14pt">기계학습 방식(선택)</p><br>
                                    <input type=radio name="radio_group2" value="Logistic" onclick="confirm_radio_group2(this)" style="width:50px; height:16px;;">Logistic
                                    <input type=radio name="radio_group2" value="SVM" onclick="confirm_radio_group2(this)" style="width:50px; height:16px;">SVM
                                    <input type=radio name="radio_group2" value="RandomForest" onclick="confirm_radio_group2(this)" style="width:56px; height:16px;">RandomForest
                                    <input type=radio name="radio_group2" value="FNN" onclick="confirm_radio_group2(this)" style="width:56px; height:16px;">FNN
                                    <input type=radio name="radio_group2" value="user_defined_machine_learning" onclick="confirm_radio_group2(this)" style="width:56px; height:16px;">사용자 정의
                                </div><br>
                                <div id="parameter_group">
                                    <div class="row3">
                                        <div class="column" onclick="openTab('b1');" style="background-color:black";>
                                            Logistic Parameter
                                        </div>
                                        <div class="column" onclick="openTab('b2');" style="background-color:black";>
                                            SVM Parameter
                                        </div>
                                        <div class="column" onclick="openTab('b3');" style="background-color:black";>
                                            RandomForest Parameter
                                        </div>
                                        <div class="column" onclick="openTab('b4');" style="background-color:black";>
                                            FNN Parameter
                                        </div>
                                        <div class="column" onclick="openTab('b5');" style="background-color:black";>
                                            User Parameter
                                        </div>

                                        <div id="b1" class="containerTab" style="display:none;background-color:black">
                                            <td>C&nbsp;&nbsp;&nbsp;</td>
                                            <input type="text" id="TextBar1">
                                        </div>
                                        <div id="b2" class="containerTab" style="display:none;background-color:black">
                                            <td>alpha&nbsp;&nbsp;&nbsp;</td>
                                            <input type="text" id="TextBar2">
                                        </div>
                                        <div id="b3" class="containerTab" style="display:none;background-color:black">
                                            <td>n_estimators&nbsp;&nbsp;&nbsp;</td>
                                            <input type="text" id="TextBar3">
                                            <td>&nbsp;&nbsp;</td>
                                            <td>max_depth&nbsp;&nbsp;&nbsp;</td>
                                            <input type="text" id="TextBar4">
                                        </div>
                                        <div id="b4" class="containerTab" style="display:none;background-color:black">
                                        </div>
                                        <div id="b5" class="containerTab" style="display:none;background-color:black">
                                        </div>
                                    </div>
                                </div>
                            </div><br><br><br><br>
                            <div class="align-self-sm-auto">
                                <div id="radio_group3">
                                    <p style="color: white; font-size: 14pt">차원 축소 방식(선택)</p><br>
                                    <input type=radio name="radio_group3" value="PCA" onclick="confirm_radio_group3(this)" style="width:50px; height:16px;">PCA
                                    <input type=radio name="radio_group3" value="MDS" onclick="confirm_radio_group3(this)" style="width:50px; height:16px;">MDS
                                    <input type=radio name="radio_group3" value="TSNE" onclick="confirm_radio_group3(this)" style="width:56px; height:16px;">TSNE
                                    <input type=radio name="radio_group3" value="user_defined_dimension_reduction" onclick="confirm_radio_group3(this)" style="width:56px; height:16px;">사용자 정의
                                </div>
                            </div><br>
                            <input id="submit" type="submit" name="visual_button" value="시각화" onclick="return get_check_list(this);">
                        </form>
                        <script type="text/javascript">

                            var e_checked;
                            var m_checked;
                            var d_checked;

                            var textbar1 = document.getElementById("TextBar1");
                            var textbar2 = document.getElementById("TextBar2");
                            var textbar3 = document.getElementById("TextBar3");
                            var textbar4 = document.getElementById("TextBar4");

                            function confirm_radio_group1(box) {
                                if (box.checked == true) {
                                    console.log(box.value);
                                    e_checked = box.value;
                                }
                            }

                            function confirm_radio_group2(box) {
                                if (box.checked == true) {
                                    console.log(box.value);
                                    m_checked = box.value;
                                }
                            }

                            function confirm_radio_group3(box) {
                                if (box.checked == true) {
                                    console.log(box.value);
                                    d_checked = box.value;
                                }
                            }

                            function openTab(tabName) {
                                var i, x;
                                x = document.getElementsByClassName("containerTab");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                document.getElementById(tabName).style.display = "block";
                            }

                            function get_check_list(input) {

                                var checked_list = new Array;
                                var parameters = new Array;

                                checked_list.push(e_checked);
                                checked_list.push(m_checked);
                                checked_list.push(d_checked);

                                console.log((textbar3.value).split(","));

                                parameters.push((textbar1.value).split(","));
                                parameters.push((textbar2.value).split(","));
                                parameters.push((textbar3.value).split(","));
                                parameters.push((textbar4.value).split(","));

                                checked_list.push(parameters)

                                document.getElementById('submit').value = checked_list;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>