<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://d3js.org/d3.v4.js"></script>

<div id="train_scatter"></div>
<style>
    .legend rect {
        position: relative;
        fill:white;
        stroke:black;
        opacity:0.8;
    }
</style>
<script>

    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 30, bottom: 40, left: 50},
        width = 700 - margin.left - margin.right,
        height = 700 - margin.top - margin.bottom;

    // append the SVg object to the body of the page
    var SVG = d3.select("#train_scatter")
        .style("background-color", "#061f08")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")")

    // Add the black box around the chart
    SVG
        .append("rect")
        .attr("x",0)
        .attr("y",0)
        .attr("height", height)
        .attr("width", height)
        .style("fill", "none")
        .style("stroke", "black")
        .style("opacity", 0.6)



    //Read the data
    d3.csv("http://127.0.0.1:8080/before_pca_train_data", function(data) {

        // Add X axis
        var x = d3.scaleLinear()
            .domain([-2, 8])
            .range([ 0, width ])
            SVG.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([-3, 8])
            .range([ height, 0])
            .nice()
            SVG.append("g")
            .call(d3.axisLeft(y))

        // Add X axis label:
        SVG.append("text")
            .attr("text-anchor", "end")
            .attr("x", width)
            .attr("y", height + margin.top + 20)
            .text("Sepal Length")
            .style("fill", "white")

        // Y axis label:
        SVG.append("text")
            .attr("text-anchor", "end")
            .attr("transform", "rotate(-90)")
            .attr("y", -margin.left+20)
            .attr("x", -margin.top)
            .text("Petal Length")
            .style("fill", "white")



        // Customization
        SVG.selectAll(".tick line").attr("stroke", "white")
        SVG.selectAll(".tick text").attr("stroke", "white").style("font-size", 10)

        var target_names = new Set();

        for (var i = 0; i < data.length; i++) {
            console.log(data[i]['target']);
            target_names.add(data[i]['target'])
        }
        console.log(target_names)
        console.log(Array.from(target_names))

        var color = d3.scaleOrdinal()
            .domain(Array.from(target_names))
            .range(d3.schemeCategory10)



        // Add dots
        SVG.append('g')
            .selectAll("dot")
            .data(data)
            .enter()
            .append("circle")
            .attr("cx", function (d) { return x(d.pca0); } )
            .attr("cy", function (d) { return y(d.pca1); } )
            .attr("r", 4)
            .attr("data-legend",function(d) { return d.target})
            .style("fill", function (d) { return color(d.target) } )
            .style("stroke", "white")
            .style("stroke-width", 1)

        var keys = Array.from(target_names)

        SVG.append("g")
            .selectAll("legend")
            .data(keys)
            .enter()
            .append("circle")
                .attr("cx", -margin.left + 70)
                .attr("cy", function(d, i) { return 15 + i * 25 })
                .attr("r", 7)
                .style("fill", function(d) { return color(d) })

        SVG.append("g")
            .selectAll("labels")
            .data(keys)
            .enter()
            .append("text")
                .attr("x", -margin.left + 80)
                .attr("y", function(d, i) { return 15 + i * 25 })
                .style("fill", function(d) { return color(d) })
                .text(function(d) { return d })
                .attr("text-anchor", "left")
                .style("alignment-baseline", "middle")

    })


</script>